<ion-header>
    <app-header pageTitle="About Us"></app-header>
</ion-header>

<ion-content class="ion-content-centered about-page" [fullscreen]="true">
    <div class="about-container">
        <ion-card class="about-card">
            <ion-card-header class="about-header">
                <img src="assets/gardenofeatn.png" alt="Garden of Eat'n" class="about-image">
            </ion-card-header>

            <ion-card-content class="about-content">
                <p>
                    At <span class="brand-highlight">Garden of Eat'n</span>, we're more than just a restaurant; we're a culinary haven dedicated to creating 
                    unforgettable dining experiences. Our commitment to excellence is reflected in every dish we serve, 
                    from carefully selected ingredients to expertly crafted flavors.
                </p>
                <hr>
                <p>
                    Discover a place where passion meets palate, where each bite tells a story of quality, freshness, and innovation. Whether you're savoring our 
                    delectable dishes, enjoying the inviting ambiance, or sharing moments with loved ones, Garden of Eat'n is where culinary dreams come to life.
                </p>
                <hr>
                <p>
                    Join us on a journey of taste, where every meal is a celebration of food, family, and the joy of dining. Welcome to Garden of Eat'n—your 
                    destination for extraordinary flavors and exceptional hospitality.
                </p>
                <hr>
                <img src="assets/calgary.webp" alt="Garden of Eat'n" class="about-image">
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
  